USE [master]
GO
/****** Object:  Database [QLHANG]    Script Date: 12/13/2022 5:12:47 PM ******/
CREATE DATABASE [QLHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\QLHANG.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\QLHANG_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHANG]
GO
/****** Object:  Table [dbo].[HangXuat]    Script Date: 12/13/2022 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangXuat](
	[MaHD] [nvarchar](10) NOT NULL,
	[MaVT] [nvarchar](10) NOT NULL,
	[DonGia] [smallmoney] NOT NULL,
	[SLBan] [tinyint] NOT NULL,
 CONSTRAINT [PK_HangXuat] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HDBan]    Script Date: 12/13/2022 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDBan](
	[MaHD] [nvarchar](10) NOT NULL,
	[NgayXuat] [smalldatetime] NOT NULL,
	[HoTenKhach] [nchar](40) NOT NULL,
 CONSTRAINT [PK_HDBan] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VatTu]    Script Date: 12/13/2022 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatTu](
	[MaVT] [nvarchar](10) NOT NULL,
	[TenVT] [nvarchar](10) NOT NULL,
	[DVTinh] [nvarchar](50) NOT NULL,
	[SLCon] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VatTu] PRIMARY KEY CLUSTERED 
(
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
